<div class="table-responsive">          
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Titre</th>
          <th>Duree</th>
          <th>Langue</th>
          <th>Realisateur</th>
          <th>Acteurs</th>
        </tr>
      </thead>
      <tbody>
        <tr 
        *ngFor="let movie of movies;"
        >
          <td>{{ movie.id }}</td>
          <td>{{ movie.titre }}</td>
          <td>{{ movie.duree }}</td>
          <td>{{ movie.langue }}</td>
          <td>{{ movie.realisateur }}</td>
          <td>{{ movie.acteurs }}</td>
        </tr>
      </tbody>
    </table>
</div>
